form(action=)
	.postUI
		.postLabel Submit a question: 
		input.postUItextbox(type=text value="What is your question?" onfocus="if(this.value=='What is your question?') this.value='';")
		input.postUIsubmit(type="submit")
		img.postUIlogo(src=logo)